<fluid
        data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
>
    <f:if condition="{data}">
        <f:variable name="vars" value=""/>
        <f:if condition="{data.textLayout}">
            <f:variable name="vars" value="{data.textLayout}"/>
        </f:if>
        <atomic-slide {data.text-background} inViewObjection id="atomic-slide-{data.uid}" class="{vars}">
            <div class="p-big">
                <div class="d-flex align-items-center flex-column text-center">
                    <f:if condition="{data.showText} && {data.title}">
                        <f:render partial="Atoms/Title" arguments="{data:'{
                            title: data.title, type:\'h3\',additionalClasses:\'a-font-weight::300\'}'}"/>
                    </f:if>
                    <f:variable name="config" value="{
                        300:{w:100,cropVariant:'mobile'}
                    }"/>
                    <f:if condition="{data.image}">
                        <figure class="image d-flex flex-column align-items-center">
                            <div class="rounded-0 w-25" style="min-width:150px;">
                                <f:variable name="imageData" value="{
                                    image: data.image,
                                    alt: data.title,
                                    title: data.title,
                                    config:{
                                        300:'{w:400,h:4ßß,cropVariant:\'mobile\'}',
                                        500:'{w:500,h:400,cropVariant:\'mobile\'}',
                                        950:'{w:400,h:400,cropVariant:\'desktop\'}'
                                    },
                                    additionalClasses: 'person'
                                }"/>
                                <f:render partial="Atoms/Image" arguments='{data:imageData}'/>
                            </div>
                            <figcaption>{data.name}</figcaption>
                        </figure>
                    </f:if>
                </div>
            </div>
        </atomic-slide>
    </f:if>
</fluid>