<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:asset.css identifier="bs.textpic" href="EXT:plate_atomic_assets/Resources/Public/atomic-bootstrap/Dist/components/textpic.css" priority="1"/>
    <f:asset.css identifier="bs.buttons" href="EXT:plate_atomic_assets/Resources/Public/atomic-bootstrap/Dist/components/buttons.css" />
    <f:if condition="{data} && {data.imgConfig}">
        <f:variable name="imgConfig" value="{data.imgConfig}" />
    </f:if>
    <f:if condition="!{imgConfig}">
        <f:variable name="imgConfig" value="{
            1600:{w:1900,cropVariant:'default'},
            1400:{w:1600,cropVariant:'default'},
            1200:{w:1400,cropVariant:'tablet'},
            1000:{w:1200,cropVariant:'tablet'},
            600:{w:900,cropVariant:'mobile'},
            500:{w:550,cropVariant:'mobile'},
            400:{w:400,cropVariant:'mobile'}
        }"/>
    </f:if>

    <f:variable name="imageData" value="{
            uid:'{data.image.properties.uid}',
            image:'{data.image}',
            alt: data.image.properties.alternative,
            title: data.image.properties.title,
            draggable:'false',
            config: imgConfig,
            additionalClasses: 'w-100 h-auto'
        }"/>
    <f:comment>{imageData}</f:comment>
    <div class="textpic textpic-centered textpic-right">
        <div class="textpic-item textpic-gallery">
            <f:render partial="Atoms/Image" arguments="{data:imageData}" />
        </div>
        <div class="textpic-item textpic-text">
            <div class="textpic-text-inner">
                <f:if condition="{data.title}">
                    <f:variable name="titleData" value="{
                            title:'{data.title}',
                            type: 'h2'
                        }"/>
                    <div class="frame-header">
                        <f:render partial="Atoms/Title" arguments="{data:titleData}" />
                    </div>
                </f:if>
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </div>
    </div>
</html>
