<fluid
        data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers">
    <f:variable name="atomicAssets" value="EXT:plate_atomic_assets/Resources/Public/"/>
    <f:asset.script identifier="atomic-slide" type="module" src="{atomicAssets}Webcomponents/Dist/atomic-slide.min.js" priority="1"/>
    <f:asset.script identifier="atomic-close" type="module" src="{atomicAssets}Webcomponents/Dist/atomic-close.min.js" priority="1"/>
    <f:asset.script identifier="atomic-slide-observer">
        <f:format.raw>let slides = document.querySelectorAll("atomic-slide[inViewObjection]")</f:format.raw>
        slides.forEach((slide)=>{
            slide.addEventListener('atomic-slide.isInView', ()=>{
            let overlay = slide.querySelector('atomic-overlay');
                if(overlay){
                    overlay.classList.add('isInView');
                }
            });
        });
    </f:asset.script>
    <f:asset.css identifier="platePartials.ImageSlide" href="EXT:plate_partials/Resources/Public/Styles/Molecules/Slides/ImageSlide/ImageSlide.css" />
    <f:if condition="{data.image}">
        <f:variable name="vars" value=""/>

        <f:variable name="blendTime" value="1000ß"/>
        <f:if condition="{data.globalBlendTime}"><f:variable name="blendTime" value="{data.globalBlendTime}"/></f:if>
        <f:if condition="{data.currBlendTime}"><f:variable name="blendTime" value="{data.currBlendTime}"/></f:if>

        <f:if condition="{data.textLayout}">
            <f:variable name="vars" value="{data.textLayout}"/>
        </f:if>
        <f:variable name="layout" value="as-default"/>
        <f:if condition="{data.layout}">
            <f:variable name="layout" value="{data.layout}"/>
        </f:if>
        <f:switch expression="{data.imageFilter}">
           <f:case value="darken">
               <f:variable name="imageFilter" value="imageOverlay"/>
           </f:case>
           <f:defaultCase><f:variable name="imageFilter" value=""/></f:defaultCase>
        </f:switch>
        <atomic-slide {imageFilter} {f:if(condition:data.blurImage, then:'imageBlur')} inViewObjection id="atomic-slide-{data.uid}" class="{layout}" time="{blendTime}">
            <f:if condition="{data.image}">
                <f:if condition="{data.imageConfig}">
                    <f:if condition="{data.imageConfig}">
                        <f:if condition="{data.imageConfig.blurred}">
                            <f:variable name="blurred" value="{data.imageConfig.blurred}"/>
                        </f:if>
                        <f:if condition="{data.imageConfig.overlay}">
                            <f:variable name="overlay" value="a-overlay-{data.imageConfig.overlay}"/>
                        </f:if>
                        <f:if condition="{data.imageConfig.imageAlign}">
                            <f:variable name="imageAlign" value="{data.imageConfig.imageAlign}"/>
                        </f:if>
                    </f:if>
                </f:if>
                <f:variable name="imgConfig" value="{data.imgConfig}"/>
                <f:if condition="!{imgConfig}">
                    <f:variable name="imgConfig" value="{
                        1600:{w:1900,cropVariant:'default'},
                        1400:{w:1600,cropVariant:'default'},
                        1200:{w:1400,cropVariant:'tablet'},
                        1000:{w:1200,cropVariant:'tablet'},
                        600:{w:900,cropVariant:'mobile'},
                        500:{w:550,cropVariant:'mobile'},
                        400:{w:400,cropVariant:'mobile'}
                    }"/>
                </f:if>
                <f:variable name="imageData" value="{
                    image: data.image,
                    loading: data.imgLazy,
                    alt: data.alternative,
                    title: data.title,
                    config:imgConfig,
                    additionalClasses: 'w-100 h-100 object-fit-cover obj-pos::{imageAlign} position-absolute {f:if(condition:\'{data.imageConfig.blurred}\',then:\'a-filter::blur\')}'
                }"/>
                <div class="{overlay} overflow-hidden " slot="image">
                    <f:render partial="Atoms/Image" arguments='{data:imageData}'/>
                </div>

                {content -> f:format.raw()}
            </f:if>
        </atomic-slide>
    </f:if>
</fluid>