<fluid
        data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
>
    <f:variable name="atomicAssets" value="EXT:plate_atomic_assets/Resources/Public"/>
    <f:variable name="level" value="0"/>
    <f:variable name="public" value="EXT:plate_layoutces/Resources/Public"/>
    <f:asset.script identifier="atomic.dropdown" type="module" src="{atomicAssets}/Webcomponents/atomic-dropdown.js"/>
    <f:asset.script identifier="atomic.button" type="module" src="{atomicAssets}/Webcomponents/atomic-button.js"/>
    <f:asset.css identifier="bs.utilities.base"  href="{atomicAssets}/atomic-bootstrap/Dist/utilities/utilities.base.css" priority="1"/>
    <f:asset.css identifier="bs.plate-nav"  href="{public}/Styles/Components/plate-nav.css" priority="1"/>
    <nav accordionNav class="pl-nav -vertical">
        <ul style="list-style-type: none;" class="p-0">
            <f:for each="{data.nav}" as="entry" iteration="i">
                <f:variable name="title" value="{entry.title}"/>
                <f:if condition="{entry.nav_title}">
                    <f:variable name="title" value="{entry.nav_title}"/>
                </f:if>

                <f:render section="Entry" arguments="{_all}"/>
            </f:for>
        </ul>
    </nav>
    <f:section name="Entry">
        <li class="pl-nav-entry -l{level}">
            <f:variable name="subpages" value="{entry.subpages}"></f:variable>
            <f:if condition="{entry.children}"><f:variable name="subpages" value="{entry.children}"></f:variable></f:if>
            <f:if condition="{subpages}">
                <f:then>
                    <f:render section="Dropdown" arguments="{_all}"/>
                </f:then>
                <f:else>
                    <f:render section="Link" arguments="{data:data,uid:entry.uid, level:level, title:entry.title, icon:entry.tx_bwicons_icon, iconFullColor:entry.plate_icon_fullcolor}"/>
                </f:else>
            </f:if>
        </li>
    </f:section>

    <f:section name="Dropdown">
        <f:if condition="{i.isLast}">
            <f:variable name="open-state" value="openLeft"/>
        </f:if>
        <f:variable name="icon" value="EXT:core/Resources/Public/Icons/T3Icons/svgs/actions/actions-chevron-down.svg"/>
        <atomic-dropdown relative role="button" class="w-100 xxx">
            <f:render section="Link" arguments="{data:data,entry:entry, uid:entry.uid, level:level, title:entry.title, linkAfterIcon:icon}"/>
            <f:if condition="{entry.subpages->f:count()} <= 6">
                <f:then>
                    <f:render section="Subpages" arguments="{_all}"/>
                </f:then>
                <f:else>
                    <f:render section="SubpagesGrid" arguments="{_all}"/>
                </f:else>
            </f:if>
        </atomic-dropdown>
    </f:section>

    <f:section name="Subpages">
        <f:variable name="level" value="{level + 1}"/>
        <ul class="pl-subnav -l{level} p-0">
            <li class="pl-nav-entry -l{level}">
                <f:render section="Link" arguments="{data:data,entry:entry, uid:entry.uid, level:level, title:'Übersicht', icon:item.tx_bwicons_icon, iconFullColor:item.plate_icon_fullcolor}"/>
            </li>
            <f:for each="{subpages}" as="item">
                <li class="pl-nav-entry -l{level}">
                    <f:render section="Link" arguments="{data:data, entry:item, uid:item.uid, level:level, title:item.title, icon:item.tx_bwicons_icon, iconFullColor:item.plate_icon_fullcolor}"/>
                </li>
            </f:for>
        </ul>
    </f:section>

    <f:section name="SubpagesGrid">
        <f:variable name="level" value="{level + 1}"/>
        <f:asset.css identifier="bs.grid-flex" href="EXT:plate_atomic_assets/Resources/Public/atomic-bootstrap/Dist/components/grid-flex.css"/>
        <f:asset.css identifier="partials.accordion-nav" href="EXT:plate_partials/Resources/Public/Styles/Molecules/Navigation/AccordionNav.css"/>

        <f:variable name="numSubpages" value="{entry.subpages->f:count()}"/>
        <f:variable name="numSubpagesPerColumn" value="{numSubpages / 2}"/>
        <f:variable name="numSubpagesPerColumn" value="{numSubpagesPerColumn->f:format.number(decimals:0)}"/>
        <div class="row pl-subnav-grid" style="width:500px">
            <div class="col col-6">
                <ul class="pl-subnav-grid-1 p-0">
                    <f:for each="{entry.subpages}" as="item" iteration="num">
                        <f:if condition="{num.cycle} <= {numSubpagesPerColumn}">
                            <f:render section="Link" arguments="{data:data,entry:item, uid:item.uid, level:level, title:item.title, icon:item.tx_bwicons_icon, iconFullColor:item.plate_icon_fullcolor}"/>
                        </f:if>
                    </f:for>
                </ul>
            </div>
            <div class="col col-6">
                <ul class="pl-subnav-grid-2 p-0">
                    <f:for each="{entry.subpages}" as="item" iteration="num">
                        <f:if condition="{num.cycle} > {numSubpagesPerColumn}">
                            <f:render section="Link" arguments="{data:data,entry:item, uid:item.uid, level:level, title:item.title, icon:item.tx_bwicons_icon, iconFullColor:item.plate_icon_fullcolor}"/>
                        </f:if>
                    </f:for>
                </ul>
            </div>
        </div>
    </f:section>

    <f:section name="Link">
        <f:comment>{data}</f:comment>
        <f:variable name="link" value="{entry.slug}"/>
        <f:if condition="!{link}">
            <f:variable name="link" value="{f:uri.page(pageUid:entry.uid)}"/>
        </f:if>
        <f:variable name="link" value="{f:uri.page(pageUid:uid)}"/>
        <a href="{link}" class="pl-nav-link -l{level} d-block" slot="click-element" title="{link}">
            <atomic-button {data.l{level}ButtonType} class="w-100 mb-2">
                <span class="{f:if(condition:'{level}==0', then:'text-nowrap')}">{title}</span>
                <f:if condition="{icon}">
                    <span slot="before">
                        <f:variable name="iconData" value="{
                            icon:icon,
                            isFullColor: iconFullColor,
                            width:theme.sub0navigation.icon.width,
                            height:theme.subnavigation.icon.height}"/>
                        <f:render partial="Atoms/Icon" arguments="{data:iconData}"/>
                    </span>
                </f:if>
                <f:if condition="{linkAfterIcon}">
                    <span slot="after">
                        <f:variable name="iconData" value="{
                            icon:linkAfterIcon,
                            isFullColor: iconFullColor,
                            width:theme.subnavigation.icon.width,
                            height:theme.subnavigation.icon.height}"/>
                        <f:render partial="Atoms/Icon" arguments="{data:iconData}"/>
                    </span>
                </f:if>
                <f:comment>
                    <span class="{f:if(condition:'{level}==0', then:'text-nowrap')}" slot="after" style="-webkit-mask: url({icon}) no-repeat center / contain;"></span>
                </f:comment>
            </atomic-button>
        </a>
    </f:section>
</fluid>