<fluid
        data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
>
    <f:if condition='{flexform.settings.telephone} != "" || {flexform.settings.email} != ""'>
        <address class="a-flex a-padding::small::childs vars-shy">
            <a-button transparent>{flexform.settings.telephone}</atomic-button>
            <atomic-button transparent>{flexform.settings.email}</atomic-button>
        </address>
    </f:if>

    <f:if condition="{secondarynav}">
        <nav class="a-list-style-type::none --secondary vars-shy a-margin-bottom::medium" style="margin-left:-18px;">
            <f:for each="{secondarynav}" as="entry">
                <li class="show-for-large a-line-height::1 a-display::inline-block">
                    <f:switch expression="{entry.uid}">
                        <f:case value="29">
                            <atomic-button transparent>
                                <div slot="before" style="margin-right:5px">
                                    <svg width="20" id="svg-search-root" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg>
                                </div>
                                <f:link.typolink parameter="{entry.uid}" title="{entry.title}" class="a-line-height::1">{entry.title}</f:link.typolink>
                            </atomic-button>
                        </f:case>
                        <f:case value="31">
                            <atomic-button transparent>
                                <div slot="before" style="margin-right:5px">
                                    <svg width="20" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 128.5 128.5" xml:space="preserve">
                                                    <g id="_x31_4">	<g>		<circle style="fill:#aaa;" cx="64.25" cy="64.25" r="64.25"/></g><g>
                                                            <path style="fill:#F2F2F2;" d="M87.805,28.975h0.618c7.083,0,12.878,5.795,12.878,12.879v48.345
                                                                c0,7.083-5.796,12.879-12.878,12.879h-0.618V47.287c2.704,0,4.896-2.192,4.896-4.896c0-2.703-2.191-4.895-4.896-4.895
                                                                C87.805,37.496,87.805,28.975,87.805,28.975z M40.696,28.975h47.109v8.521h-0.001c-2.703,0-4.896,2.192-4.896,4.895
                                                                c0,2.704,2.193,4.896,4.896,4.896h0.001v55.791H40.696V47.287c2.703,0,4.896-2.192,4.896-4.896c0-2.703-2.192-4.895-4.896-4.895
                                                                V28.975z M40.079,28.975h0.617v8.521c-2.704,0-4.896,2.192-4.896,4.895c0,2.704,2.192,4.896,4.896,4.896v55.791h-0.617
                                                                c-7.084,0-12.88-5.797-12.88-12.879V41.854C27.199,34.77,32.995,28.975,40.079,28.975z"/>
                                                        <path style="fill:#AFAFAF;" d="M40.696,25.422L40.696,25.422c1.046,0,1.902,0.856,1.902,1.902v13.165
                                                                c0,1.046-0.856,1.902-1.902,1.902h-0.001c-1.047,0-1.902-0.856-1.902-1.902V27.324C38.794,26.278,39.65,25.422,40.696,25.422z"/>
                                                        <path style="fill:#AFAFAF;" d="M87.805,25.422L87.805,25.422c1.047,0,1.902,0.856,1.902,1.902v13.165
                                                                c0,1.046-0.855,1.902-1.902,1.902h-0.001c-1.047,0-1.903-0.856-1.903-1.902V27.324C85.902,26.278,86.758,25.422,87.805,25.422z"/>
                                                        <rect x="27.199" y="50.675" style="fill:#aaa;" width="74.102" height="3.107"/>
                                                        <rect x="53.236" y="59.304" style="fill:#aaa;" width="9.584" height="8.453"/>
                                                        <rect x="38.199" y="58.954" style="fill:#C9675B;" width="9.584" height="8.453"/>
                                                        <rect x="68.727" y="59.304" style="fill:#aaa;" width="9.584" height="8.453"/>
                                                        <rect x="83.088" y="59.304" style="fill:#aaa;" width="9.584" height="8.453"/>
                                                        <rect x="53.586" y="72.996" style="fill:#aaa;" width="9.584" height="8.453"/>
                                                        <rect x="69.077" y="72.996" style="fill:#aaa;" width="9.584" height="8.453"/>
                                                        <rect x="83.088" y="73.346" style="fill:#aaa;" width="9.584" height="8.453"/>
                                                        <rect x="53.586" y="87.327" style="fill:#aaa;" width="9.584" height="8.439"/>
                                                        <rect x="38.373" y="72.996" style="fill:#aaa;" width="9.584" height="8.453"/>
                                                        <rect x="38.373" y="87.327" style="fill:#aaa;" width="9.584" height="8.439"/>
                                                        <rect x="68.727" y="87.677" style="fill:#aaa;" width="9.584" height="8.439"/>
                                                        <rect x="83.088" y="87.677" style="fill:#aaa;" width="9.584" height="8.439"/>
                                                        </g></g></svg>

                                </div>
                                <f:link.typolink parameter="{entry.uid}" title="{entry.title}" class="a-line-height::1">{entry.title}</f:link.typolink>
                            </atomic-button>
                        </f:case>

                        <f:case value="32">
                            <atomic-button transparent>
                                <div slot="before" style="margin-right:5px">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         width="20" height="16" viewBox="0 0 488.552 488.553" style="enable-background:new 0 0 488.552 488.553;"
                                         xml:space="preserve">
                                            <g>
                                                <g>
                                                    <path d="M86.014,57.272c-7.131,19.836-15.129,39.773-17.633,60.858c-2.351,19.814,2.257,34.224,11.959,51.197
                                                        c9.805,17.154,27.066,42.364,47.757,53.675v265.549h46.188V222.727c20.464-11.445,37.522-36.389,47.247-53.4
                                                        c9.703-16.973,14.308-31.382,11.958-51.197c-2.503-21.084-10.501-41.022-17.632-60.858c-5.613-15.614-16.803-54.413-37.465-56.82
                                                        l12.315,113.987h-15.395L162.999,0h-12.06h-12.061l-12.321,114.439h-15.395L123.479,0.452
                                                        C102.817,2.859,91.627,41.658,86.014,57.272z"/>
                                                    <path d="M311.189,136.764c0,121.937,50.479,135.206,63.399,136.605v215.184h46.188V0h-46.188C374.589,0,311.189,0,311.189,136.764
                                                        z"/>
                                                </g>
                                            </g>
                                            </svg>

                                </div>
                                <f:link.typolink parameter="{entry.uid}" title="{entry.title}">{entry.title}</f:link.typolink>
                            </atomic-button>
                        </f:case>

                        <f:case value="33">
                            <atomic-button transparent>
                                <div slot="before" style="margin-right:5px">
                                    <svg width="15" id="svg-phone-root" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"/></svg>
                                </div>
                                <f:link.typolink parameter="{entry.uid}" title="{entry.title}">{entry.title}</f:link.typolink>
                            </atomic-button>
                        </f:case>
                        <f:defaultCase>
                            <atomic-button transparent>
                                <f:link.typolink parameter="{entry.uid}" title="{entry.title}">{entry.title}</f:link.typolink>
                            </atomic-button>
                        </f:defaultCase>
                    </f:switch>
                </li>
            </f:for>
        </nav>
    </f:if>
</fluid>